JewelryShop.Api/bin/Debug/net8.0/appsettings.Development.json
JewelryShop.Api/bin/Debug/net8.0/appsettings.json
JewelryShop.Api/bin/Debug/net8.0/Humanizer.dll
JewelryShop.Api/bin/Debug/net8.0/JewelryShop.Api.deps.json
JewelryShop.Api/bin/Debug/net8.0/JewelryShop.Api.dll
JewelryShop.Api/bin/Debug/net8.0/JewelryShop.Api.exe
JewelryShop.Api/bin/Debug/net8.0/JewelryShop.Api.pdb
JewelryShop.Api/bin/Debug/net8.0/JewelryShop.Api.runtimeconfig.json
JewelryShop.Api/bin/Debug/net8.0/JewelryShop.Api.staticwebassets.endpoints.json
JewelryShop.Api/bin/Debug/net8.0/JewelryShop.Application.dll
JewelryShop.Api/bin/Debug/net8.0/JewelryShop.Application.pdb
JewelryShop.Api/bin/Debug/net8.0/JewelryShop.Domain.dll
JewelryShop.Api/bin/Debug/net8.0/JewelryShop.Domain.pdb
JewelryShop.Api/bin/Debug/net8.0/JewelryShop.Infrastructure.dll
JewelryShop.Api/bin/Debug/net8.0/JewelryShop.Infrastructure.pdb
JewelryShop.Api/bin/Debug/net8.0/log4net.config
JewelryShop.Api/bin/Debug/net8.0/log4net.dll
JewelryShop.Api/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
JewelryShop.Api/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
JewelryShop.Api/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
JewelryShop.Api/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
JewelryShop.Api/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
JewelryShop.Api/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
JewelryShop.Api/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
JewelryShop.Api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
JewelryShop.Api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
JewelryShop.Api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
JewelryShop.Api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
JewelryShop.Api/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
JewelryShop.Api/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
JewelryShop.Api/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
JewelryShop.Api/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
JewelryShop.Api/bin/Debug/net8.0/Microsoft.Extensions.Diagnostics.Abstractions.dll
JewelryShop.Api/bin/Debug/net8.0/Microsoft.Extensions.Hosting.Abstractions.dll
JewelryShop.Api/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
JewelryShop.Api/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
JewelryShop.Api/bin/Debug/net8.0/Microsoft.Extensions.ObjectPool.dll
JewelryShop.Api/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
JewelryShop.Api/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
JewelryShop.Api/bin/Debug/net8.0/Microsoft.Extensions.WebEncoders.dll
JewelryShop.Api/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
JewelryShop.Api/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
JewelryShop.Api/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
JewelryShop.Api/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
JewelryShop.Api/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
JewelryShop.Api/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
JewelryShop.Api/bin/Debug/net8.0/Microsoft.OpenApi.dll
JewelryShop.Api/bin/Debug/net8.0/Mono.TextTemplating.dll
JewelryShop.Api/bin/Debug/net8.0/Npgsql.dll
JewelryShop.Api/bin/Debug/net8.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
JewelryShop.Api/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
JewelryShop.Api/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
JewelryShop.Api/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
JewelryShop.Api/bin/Debug/net8.0/System.CodeDom.dll
JewelryShop.Api/bin/Debug/net8.0/System.Composition.AttributedModel.dll
JewelryShop.Api/bin/Debug/net8.0/System.Composition.Convention.dll
JewelryShop.Api/bin/Debug/net8.0/System.Composition.Hosting.dll
JewelryShop.Api/bin/Debug/net8.0/System.Composition.Runtime.dll
JewelryShop.Api/bin/Debug/net8.0/System.Composition.TypedParts.dll
JewelryShop.Api/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
JewelryShop.Api/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
JewelryShop.Api/bin/Debug/net8.0/System.Security.Cryptography.Pkcs.dll
JewelryShop.Api/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
JewelryShop.Api/bin/Debug/net8.0/System.Security.Cryptography.Xml.dll
JewelryShop.Api/bin/Debug/net8.0/System.Security.Permissions.dll
JewelryShop.Api/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
JewelryShop.Api/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
JewelryShop.Api/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
JewelryShop.Api/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
JewelryShop.Api/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
JewelryShop.Api/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
JewelryShop.Api/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
JewelryShop.Api/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
JewelryShop.Api/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
JewelryShop.Api/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
JewelryShop.Api/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
JewelryShop.Api/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
JewelryShop.Api/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
JewelryShop.Api/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
JewelryShop.Api/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
JewelryShop.Api/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
JewelryShop.Api/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
JewelryShop.Api/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
JewelryShop.Api/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
JewelryShop.Api/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
JewelryShop.Api/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
JewelryShop.Api/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
JewelryShop.Api/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
JewelryShop.Api/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
JewelryShop.Api/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
JewelryShop.Api/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
JewelryShop.Api/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
JewelryShop.Api/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
JewelryShop.Api/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
JewelryShop.Api/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
JewelryShop.Api/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
JewelryShop.Api/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
JewelryShop.Api/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
JewelryShop.Api/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
JewelryShop.Api/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
JewelryShop.Api/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
JewelryShop.Api/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
JewelryShop.Api/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
JewelryShop.Api/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
JewelryShop.Api/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
JewelryShop.Api/bin/Debug/net8.0/runtimes/win/lib/net8.0/System.Security.Cryptography.Pkcs.dll
JewelryShop.Api/bin/Debug/net8.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
JewelryShop.Api/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
JewelryShop.Api/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
JewelryShop.Api/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
JewelryShop.Api/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
JewelryShop.Api/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
JewelryShop.Api/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
JewelryShop.Api/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
JewelryShop.Api/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
JewelryShop.Api/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
JewelryShop.Api/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
JewelryShop.Api/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
JewelryShop.Api/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
JewelryShop.Api/obj/JewelryShop.Api.csproj.EntityFrameworkCore.targets
JewelryShop.Api/obj/JewelryShop.Api.csproj.nuget.dgspec.json
JewelryShop.Api/obj/JewelryShop.Api.csproj.nuget.g.props
JewelryShop.Api/obj/JewelryShop.Api.csproj.nuget.g.targets
JewelryShop.Api/obj/project.assets.json
JewelryShop.Api/obj/project.nuget.cache
JewelryShop.Api/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
JewelryShop.Api/obj/Debug/net8.0/apphost.exe
JewelryShop.Api/obj/Debug/net8.0/JewelryS.D7FA865B.Up2Date
JewelryShop.Api/obj/Debug/net8.0/JewelryShop.Api.AssemblyInfo.cs
JewelryShop.Api/obj/Debug/net8.0/JewelryShop.Api.AssemblyInfoInputs.cache
JewelryShop.Api/obj/Debug/net8.0/JewelryShop.Api.assets.cache
JewelryShop.Api/obj/Debug/net8.0/JewelryShop.Api.csproj.AssemblyReference.cache
JewelryShop.Api/obj/Debug/net8.0/JewelryShop.Api.csproj.CoreCompileInputs.cache
JewelryShop.Api/obj/Debug/net8.0/JewelryShop.Api.csproj.FileListAbsolute.txt
JewelryShop.Api/obj/Debug/net8.0/JewelryShop.Api.dll
JewelryShop.Api/obj/Debug/net8.0/JewelryShop.Api.GeneratedMSBuildEditorConfig.editorconfig
JewelryShop.Api/obj/Debug/net8.0/JewelryShop.Api.genruntimeconfig.cache
JewelryShop.Api/obj/Debug/net8.0/JewelryShop.Api.GlobalUsings.g.cs
JewelryShop.Api/obj/Debug/net8.0/JewelryShop.Api.MvcApplicationPartsAssemblyInfo.cache
JewelryShop.Api/obj/Debug/net8.0/JewelryShop.Api.MvcApplicationPartsAssemblyInfo.cs
JewelryShop.Api/obj/Debug/net8.0/JewelryShop.Api.pdb
JewelryShop.Api/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
JewelryShop.Api/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
JewelryShop.Api/obj/Debug/net8.0/rpswa.dswa.cache.json
JewelryShop.Api/obj/Debug/net8.0/staticwebassets.build.endpoints.json
JewelryShop.Api/obj/Debug/net8.0/staticwebassets.build.json
JewelryShop.Api/obj/Debug/net8.0/staticwebassets.build.json.cache
JewelryShop.Api/obj/Debug/net8.0/ref/JewelryShop.Api.dll
JewelryShop.Api/obj/Debug/net8.0/refint/JewelryShop.Api.dll
JewelryShop.Application/bin/Debug/net8.0/JewelryShop.Application.deps.json
JewelryShop.Application/bin/Debug/net8.0/JewelryShop.Application.dll
JewelryShop.Application/bin/Debug/net8.0/JewelryShop.Application.pdb
JewelryShop.Application/bin/Debug/net8.0/JewelryShop.Domain.dll
JewelryShop.Application/bin/Debug/net8.0/JewelryShop.Domain.pdb
JewelryShop.Application/obj/JewelryShop.Application.csproj.nuget.dgspec.json
JewelryShop.Application/obj/JewelryShop.Application.csproj.nuget.g.props
JewelryShop.Application/obj/JewelryShop.Application.csproj.nuget.g.targets
JewelryShop.Application/obj/project.assets.json
JewelryShop.Application/obj/project.nuget.cache
JewelryShop.Application/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
JewelryShop.Application/obj/Debug/net8.0/JewelryS.94E40332.Up2Date
JewelryShop.Application/obj/Debug/net8.0/JewelryShop.Application.AssemblyInfo.cs
JewelryShop.Application/obj/Debug/net8.0/JewelryShop.Application.AssemblyInfoInputs.cache
JewelryShop.Application/obj/Debug/net8.0/JewelryShop.Application.assets.cache
JewelryShop.Application/obj/Debug/net8.0/JewelryShop.Application.csproj.AssemblyReference.cache
JewelryShop.Application/obj/Debug/net8.0/JewelryShop.Application.csproj.CoreCompileInputs.cache
JewelryShop.Application/obj/Debug/net8.0/JewelryShop.Application.csproj.FileListAbsolute.txt
JewelryShop.Application/obj/Debug/net8.0/JewelryShop.Application.dll
JewelryShop.Application/obj/Debug/net8.0/JewelryShop.Application.GeneratedMSBuildEditorConfig.editorconfig
JewelryShop.Application/obj/Debug/net8.0/JewelryShop.Application.GlobalUsings.g.cs
JewelryShop.Application/obj/Debug/net8.0/JewelryShop.Application.pdb
JewelryShop.Application/obj/Debug/net8.0/ref/JewelryShop.Application.dll
JewelryShop.Application/obj/Debug/net8.0/refint/JewelryShop.Application.dll
JewelryShop.Domain/bin/Debug/net8.0/JewelryShop.Domain.deps.json
JewelryShop.Domain/bin/Debug/net8.0/JewelryShop.Domain.dll
JewelryShop.Domain/bin/Debug/net8.0/JewelryShop.Domain.pdb
JewelryShop.Domain/obj/JewelryShop.Domain.csproj.nuget.dgspec.json
JewelryShop.Domain/obj/JewelryShop.Domain.csproj.nuget.g.props
JewelryShop.Domain/obj/JewelryShop.Domain.csproj.nuget.g.targets
JewelryShop.Domain/obj/project.assets.json
JewelryShop.Domain/obj/project.nuget.cache
JewelryShop.Domain/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
JewelryShop.Domain/obj/Debug/net8.0/JewelryShop.Domain.AssemblyInfo.cs
JewelryShop.Domain/obj/Debug/net8.0/JewelryShop.Domain.AssemblyInfoInputs.cache
JewelryShop.Domain/obj/Debug/net8.0/JewelryShop.Domain.assets.cache
JewelryShop.Domain/obj/Debug/net8.0/JewelryShop.Domain.csproj.CoreCompileInputs.cache
JewelryShop.Domain/obj/Debug/net8.0/JewelryShop.Domain.csproj.FileListAbsolute.txt
JewelryShop.Domain/obj/Debug/net8.0/JewelryShop.Domain.dll
JewelryShop.Domain/obj/Debug/net8.0/JewelryShop.Domain.GeneratedMSBuildEditorConfig.editorconfig
JewelryShop.Domain/obj/Debug/net8.0/JewelryShop.Domain.GlobalUsings.g.cs
JewelryShop.Domain/obj/Debug/net8.0/JewelryShop.Domain.pdb
JewelryShop.Domain/obj/Debug/net8.0/ref/JewelryShop.Domain.dll
JewelryShop.Domain/obj/Debug/net8.0/refint/JewelryShop.Domain.dll
JewelryShop.Infrastructure/bin/Debug/net8.0/JewelryShop.Application.dll
JewelryShop.Infrastructure/bin/Debug/net8.0/JewelryShop.Application.pdb
JewelryShop.Infrastructure/bin/Debug/net8.0/JewelryShop.Domain.dll
JewelryShop.Infrastructure/bin/Debug/net8.0/JewelryShop.Domain.pdb
JewelryShop.Infrastructure/bin/Debug/net8.0/JewelryShop.Infrastructure.deps.json
JewelryShop.Infrastructure/bin/Debug/net8.0/JewelryShop.Infrastructure.dll
JewelryShop.Infrastructure/bin/Debug/net8.0/JewelryShop.Infrastructure.pdb
JewelryShop.Infrastructure/bin/Debug/net8.0/JewelryShop.Infrastructure.runtimeconfig.json
JewelryShop.Infrastructure/obj/JewelryShop.Infrastructure.csproj.EntityFrameworkCore.targets
JewelryShop.Infrastructure/obj/JewelryShop.Infrastructure.csproj.nuget.dgspec.json
JewelryShop.Infrastructure/obj/JewelryShop.Infrastructure.csproj.nuget.g.props
JewelryShop.Infrastructure/obj/JewelryShop.Infrastructure.csproj.nuget.g.targets
JewelryShop.Infrastructure/obj/project.assets.json
JewelryShop.Infrastructure/obj/project.nuget.cache
JewelryShop.Infrastructure/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
JewelryShop.Infrastructure/obj/Debug/net8.0/JewelryS.29450715.Up2Date
JewelryShop.Infrastructure/obj/Debug/net8.0/JewelryShop.Infrastructure.AssemblyInfo.cs
JewelryShop.Infrastructure/obj/Debug/net8.0/JewelryShop.Infrastructure.AssemblyInfoInputs.cache
JewelryShop.Infrastructure/obj/Debug/net8.0/JewelryShop.Infrastructure.assets.cache
JewelryShop.Infrastructure/obj/Debug/net8.0/JewelryShop.Infrastructure.csproj.AssemblyReference.cache
JewelryShop.Infrastructure/obj/Debug/net8.0/JewelryShop.Infrastructure.csproj.CoreCompileInputs.cache
JewelryShop.Infrastructure/obj/Debug/net8.0/JewelryShop.Infrastructure.csproj.FileListAbsolute.txt
JewelryShop.Infrastructure/obj/Debug/net8.0/JewelryShop.Infrastructure.dll
JewelryShop.Infrastructure/obj/Debug/net8.0/JewelryShop.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
JewelryShop.Infrastructure/obj/Debug/net8.0/JewelryShop.Infrastructure.genruntimeconfig.cache
JewelryShop.Infrastructure/obj/Debug/net8.0/JewelryShop.Infrastructure.GlobalUsings.g.cs
JewelryShop.Infrastructure/obj/Debug/net8.0/JewelryShop.Infrastructure.pdb
JewelryShop.Infrastructure/obj/Debug/net8.0/ref/JewelryShop.Infrastructure.dll
JewelryShop.Infrastructure/obj/Debug/net8.0/refint/JewelryShop.Infrastructure.dll
